*{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 5fr;

}

.header{
    grid-column: 2/3;
    box-shadow: 0px 10px 10px -5px #ccc;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #0ea5e9;
    display: grid;
    grid-template-rows: 10% 15% 20%;
    color: white;
    align-items: center;
    justify-content: start ;
    padding: 0 24px;
    
}

.main{
    background-color: #e0f2fe;
}

.logo{
   display: flex;
   align-content: center;
   justify-content: center;
}

.logo>div{
    font-weight: 700;
    font-size: 30px;
    display: grid;
    align-items: center;
}

ul
li{
    list-style: none;
    font-weight: 600;
}

.logo img{
    filter: invert(100%);
}

.user-bar{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
    padding-left: 75px;
}


.user-local{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-right: 30px;
    justify-self: end;
} 

.user-local>img.logo + div{
}

.user-local>div>div{
    font-weight: 700;
}

.user-local>div{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: flex-end;

}

.search{
    display: flex;
    align-items: center;
    gap: 16px;

}

input{
    border-radius: 16px;
    flex: auto;
    background-color: #f0f9ff;
    border: none;
    padding: 4px;
}

input:focus{
    outline: none;
}

img.logo{
    border-radius: 50%;
    width: 60px;
    height: auto;
}

.user-bar2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding-left: 75px;
}

.user-bar2 img.logo{
    justify-self: start;
    align-self: center;
    margin-right: 24px;
    width: 100px;
    height: auto;
}
.text{
    display: grid;
}

.text>div{
    font-weight: 700;
    font-size: 30px;
}
.text>p{
    font-size: 20px;
    font-weight: 700;
}
.greeting{
    display: flex;
    align-items: center;
}

div.buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
    justify-self: end;
    margin-right: 50px;
}
button{
    border: none;
    padding: 10px 30px;
    background-color: #38bdf8;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}

div.main{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2% 1fr 2% 1fr;
    padding: 30px;
    gap: 30px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0px 5px 10px #ccc;
    background-image: linear-gradient(to left, rgba(0,0,0,0) 99%, orange 20%);
    margin-bottom: 16px;
    margin-top: 1px;
}

.main div.announcements,
.main div.trending
{
    border-radius: 16px;
    box-shadow: 0px 5px 10px #ccc;
}


.projects{
    grid-column: 1/2;
    grid-row: 2/5;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(45%,2fr));
    grid-template-rows: repeat(auto-fit, 1fr);
}

.announcements{
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trending{
    background-color: white;
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 30px;
}

p.trending-word{
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
}

.main>p{
    font-weight: 600;
    display: flex;
    align-items: center;
}

.card>.title{
    font-weight: 700;
    font-size: 30px;
}

.card>.description{
    font-size: 22px;
}

.card>div{
    align-self: flex-end;
    justify-self: end;
}

.card>div>img{
    margin-right: 16px;
}


.announcements>div>div.small-description{
    font-size: 15px;
    font-weight: 300;
}

.announcements>div>div.small-title{
    font-size: 20px;
    font-weight: 600;
}

hr{
    border-top: 1px solid #ccc
}

div.people{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}



.trending div.user{
    display: flex;
    flex-direction: column;
}

div.user>.tag{
    font-size: 25px;
}

div.user>.name{
    font-size: 20px;
    color: #707070;
}

